<div class="card-columns" style="width:'100%'">
  <div
    class="card imageBox"
    *ngFor="let product of products"
    (mouseover)="handleMouseOver(product.id)"
    (mouseout)="handleMouseOut(product.id)"
  >
    <img
      id="{{ product.id }}"
      (load)="removeSkeleton(product.id)"
      class="card-img-top"
      [src]="product.urls.full"
      [alt]="product.title"
      style="display: none"
    />
    <a href="{{ product.links.download }}" target="_blank" download>
      <mat-icon
        id="{{ product.id }}_download"
        style="display:none;bottom:5px;right:10px;position:absolute;cursor:pointer;color:white"
        matSuffix
        >get_app</mat-icon
      >
    </a>
    <ngx-skeleton-loader
      [theme]="{
        height: '200px',
        'margin-bottom': '0px'
      }"
      count="1"
      appearance="line"
      id="{{ product.id }}_skeleton"
    ></ngx-skeleton-loader>
  </div>
</div>
