<div class="card-columns">
  <div
    style="min-height: 200px ;min-width: 200px"
    class="card"
    *ngFor="let product of products"
  >
    <img
      id="{{ product.id }}"
      (load)="removeSkeleton(product.id)"
      class="card-img-top"
      [src]="product.urls.full"
      [alt]="product.title"
      style="display: none"
    />

    <ngx-skeleton-loader
      [theme]="{
        height: '200px'
      }"
      count="1"
      appearance="line"
      id="{{ product.id }}_skeleton"
    ></ngx-skeleton-loader>
    <!-- 
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>

      <p class="card-text">
        Uploaded by {{ product.author_id }} on

        {{ product.published | date: "medium" }}
      </p>
      <p class="card-text">{{ product.title }}</p>

      <hr />

      <p class="card-text">
        <small class="text-muted">{{ product.tags }}</small>
      </p>
    </div> -->
  </div>
</div>
